# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/src/master/ArducomWin/.vs/ArducomWin/v14/*.suo
/src/master/ArducomWin/*.db
/src/master/ArducomWin/*.user
/src/master/ArducomWin/Debug/*.obj
/src/master/ArducomWin/Debug/*.log
/src/master/ArducomWin/Debug/ArducomWin.tlog/*.lastbuildstate
/src/master/ArducomWin/Debug/ArducomWin.tlog/*.tlog
/src/master/ArducomWin/Debug/*.exe
/src/master/ArducomWin/Debug/*.ilk
/src/master/ArducomWin/Debug/*.pdb
/src/master/ArducomWin/Debug/*.idb
/src/master/ArducomWin/Release/*.obj
/src/master/ArducomWin/Release/*.log
/src/master/ArducomWin/Release/ArducomWin.tlog/*.lastbuildstate
/src/master/ArducomWin/Release/ArducomWin.tlog/*.tlog
/src/master/ArducomWin/Release/*.exe
/src/master/ArducomWin/Release/*.iobj
/src/master/ArducomWin/Release/*.ipdb
/src/master/ArducomWin/Release/*.pdb
/src/master/ArducomWin/x64/Debug/*.obj
/src/master/ArducomWin/x64/Debug/*.exe
/src/master/ArducomWin/x64/Debug/*.ilk
/src/master/ArducomWin/x64/Debug/*.log
/src/master/ArducomWin/x64/Debug/*.pdb
/src/master/ArducomWin/x64/Debug/ArducomWin.tlog/*.lastbuildstate
/src/master/ArducomWin/x64/Debug/ArducomWin.tlog/*.tlog
/src/master/ArducomWin/x64/Debug/*.idb
/src/master/ArducomWin/*.opendb
*.exe
